.sobre-container {
  background-color: #ffffff10;

  border-radius: 20px;

  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #132235;
}

.sobre-nos {
  padding-top: 2em;

  display: flex;
  align-items: center;
}

.sobre-nos p {
  padding: 2em;

  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: 1px;
}
.sobre-nos span {
  color: #132235;
}

iframe {
  width: 80%;
}
